.app-container {
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: inherit;

    @include desktop() {
        width: 1010px;
        background-color: $contentBackground;
        padding: 13px 36px 17px 36px; 
    }

    @include large-desktop() {
        width: 80%;
    }
}