.cards-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 36px 37px;

    @include desktop() {
        grid-template-columns: 1fr 1fr;
    }

    @include large-desktop() {
        grid-template-columns: 1fr 1fr 1fr;
    }
}