.card {
    width: 100%;
    height: 245px;
    display: grid;
    grid-template-columns: 23% 77%;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 4px 10px;

    &__poster {
        height: 90px;
        width: 100%;
        object-fit: cover;

        @include desktop() {
            height: 100%;
            width: 100%;
        }
    }

    &__content-zone {
        padding: 0 9px 2px 13px;

        @include desktop() {
            padding: 10px 9px 2px 20px;
        }
    }

    &__title {
        margin-bottom: 7px;
        font-size: 20px;
        line-height: 28px;
    }

    &__date {
        margin-bottom: 7px;
        font-size: 12px;
        line-height: 22px;  
        color: $dateColor;
  
    }

    &__overview {
        grid-column: 1;
        grid-row: 2;
        padding-bottom: 49px;
        font-size: 12px;
        line-height: 22px;
        padding-right: 11px;

        @include desktop() {
            grid-column: 2;
            grid-row: 2;
        }
        
    }

    &__genres-list {
        margin-bottom: 19px;
        display: flex;
        column-gap: 8px;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.65);
    
        li {
            padding: 1px 3px 2px 4px;
            border: 1px solid $uiGray;
            border-radius: 2px;
        }


        @include desktop() {
            margin-bottom: 7px;
        }
    }

    @include desktop() {
        display: grid;
        grid-template-columns: 40.5% 59.5%; 
        grid-template-rows: 1fr;
        height: 279px;
        padding: 0;
    }

}


