.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cards-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    gap: 36px 37px;

    @include desktop() {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 37px;
    }

}

.pagination {
    height: 24px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    justify-content: center;
    margin-top: auto;

    .ant-pagination-item {
        min-width: 22px;
        height: 22px;
        margin-inline-end: 0;
        font-family: 'Inter';
        font-size: 12px;
        line-height: 22px;

        a {
            padding: 0 8px;
            color: rgba(0, 0, 0, 0.65);
        }

        &-active {
            background-color: #1890FF;
            border-radius: 4px;
            border: none;

            a {
                padding: 0 8px;
                color: #FFFFFF;

                &:hover {
                    color: #FFFFFF;
                }
            }
        }
    }

    .ant-pagination-prev {
        margin: 0;
    }

    .ant-pagination-jump-next {
        margin-right: 0;
    }

    .ant-pagination-disabled {
        .anticon {
            color: rgba(0, 0, 0, 0.25);
            ;
        }
    }

    @include desktop() {
        padding-bottom: 0;
    }
}