//Colors
$white: #FFFFFF;
$seasalt: #F7F7F7;
$black: #000000;
$gray: #827E7E;
$dodgerBlue:#1890FF;
$platinum:#D9D9D9;

//Background
$contentBackground: $white;
$bodyBackground: $seasalt;

//Text element colors
$textColor: $black;
$dateColor: $gray;
$numberPagination: $white;

//UI element colors
$activePaginationBtn: $dodgerBlue;
$genresBorder: $platinum;
$searchFormBorder: $platinum;




