/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input {
  outline: none;
}

body {
  font-family: "Inter", sans-serif;
  color: #000000;
  background-color: #F7F7F7;
  overflow-x: hidden;
}
input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.app-container {
  margin: 0 clamp(1rem, -3.951rem + 19.32vw, 13.438rem);
  background-color: inherit;
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  .app-container {
    background-color: #FFFFFF;
    padding: 21px clamp(0.625rem, 0.161rem + 2.32vw, 2.25rem) 21px clamp(0.625rem, 0.161rem + 2.32vw, 2.25rem);
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cards-list {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
  gap: 36px 37px;
}
@media (min-width: 1200px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 37px;
  }
}

.pagination {
  height: 24px;
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  justify-content: center;
  margin-top: auto;
}
.pagination .ant-pagination-item {
  min-width: 22px;
  height: 22px;
  margin-inline-end: 0;
  font-family: "Inter";
  font-size: 12px;
  line-height: 22px;
}
.pagination .ant-pagination-item a {
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.65);
}
.pagination .ant-pagination-item-active {
  background-color: #1890FF;
  border-radius: 4px;
  border: none;
}
.pagination .ant-pagination-item-active a {
  padding: 0 8px;
  color: #FFFFFF;
}
.pagination .ant-pagination-item-active a:hover {
  color: #FFFFFF;
}
.pagination .ant-pagination-prev {
  margin: 0;
}
.pagination .ant-pagination-jump-next {
  margin-right: 0;
}
.pagination .ant-pagination-disabled .anticon {
  color: rgba(0, 0, 0, 0.25);
}
@media (min-width: 1200px) {
  .pagination {
    padding-bottom: 0;
  }
}

.card {
  width: 388px;
  height: 245px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: 1fr 1fr 46px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 4px 10px;
}
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.card__poster {
  height: 90px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 1200px) {
  .card__poster {
    height: 100%;
    width: 100%;
  }
}
.card__content-zone {
  padding: 0 9px 2px 13px;
}
@media (min-width: 1200px) {
  .card__content-zone {
    padding: 10px 9px 2px 20px;
  }
}
.card__title {
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 28px;
}
.card__date {
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 22px;
  color: #827E7E;
}
.card__overview {
  grid-column: 1/-1;
  grid-row: 2;
  font-size: 12px;
  line-height: 22px;
  padding-right: 11px;
}
@media (min-width: 1200px) {
  .card__overview {
    grid-column: 2;
    grid-row: 1;
  }
}
.card__genres-list {
  margin-bottom: 19px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
}
.card__genres-list li {
  padding: 1px 3px 2px 4px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}
@media (min-width: 1200px) {
  .card__genres-list {
    margin-bottom: 7px;
  }
}
.card .card__rating {
  padding: 13px 0 18px 4px;
  text-align: center;
  grid-column: 2;
  grid-row: 3;
}
.card .ant-rate-star {
  margin-right: 7px;
}
.card .ant-rate-star .anticon-star {
  width: 15px;
  height: 15px;
}
.card__app-rating {
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 6px;
}
.card__app-rating p {
  font-size: 12px;
  line-height: 22px;
}
@media (min-width: 1200px) {
  .card {
    display: grid;
    grid-template-columns: 40.5% 59.5%;
    grid-template-rows: 1fr;
    width: 451px;
    height: 279px;
    padding: 0;
  }
}

.search-form__input {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 34px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 11px;
}