@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

body {
    font-family: "Inter", sans-serif;
    color: $textColor;
    background-color: $bodyBackground;
}


input {
	&::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    &::-moz-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    &:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    &::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.25);
    }
}