@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: $textColor;   
    background-color: $contentBackground;
    overflow-x: hidden;


    @include desktop() {
        background-color: $bodyBackground;
    }
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}



input {
	&::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    &::-moz-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    &:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    &::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.25);
    }
}